/*
 * As you may have guessed, a little custom css is part of our project.
 */

body {
  padding-top: 5rem;
}

.container {
  max-width: 1440px; /* Override bootstrap maximum width */
}

.content-box {
  padding: 1rem 0.5rem;
  text-align: center;
}

/* This container will allow scaling svg, so we don't need to care about it in d3.js */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0; /* not 10px, but 0 instead */
  left: 0;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.line-context {
  fill: none;
  stroke-width: 0.8px;
}

#courseSelection li.hover { background-color: rgba(0, 123, 255, 0.3); }
#courseSelection li.selected { border-color: #007bff; }

.frame { width: 100%; height: 185px; padding: 4px; border: 1px solid rgba(0,0,0,.125); border-radius: calc(.25rem - 1px); background-color: rgba(0,0,0,.03); }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 5px 0 0; padding: 0; width: 150px; height: 100%; border: 1px solid rgba(0,0,0,.125); background-color: white; text-align: center; }

.scrollbar {
    width: 100%;
    height: 16px;
    margin-top: 4px;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
}
.scrollbar .handle {
	width: 100px; /* overriden if dynamicHandle: 1 */
	height: 100%;
	background: #868e96;
}

.scrollbar .handle:hover { background-color: rgba(0, 123, 255, 1); }

.coursename {
    font-size: 8pt;
    font-weight: bold;
}

.courseimagecontainer {
    height: 75%;
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courseimage {
    margin-left: auto;
    margin-right: auto;
}

.card-body{
  padding-top: 0.75rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

#toggle-btn{
  text-align: center;
}

#icon-up-arrow{
  width: 1%;
  height: 1%;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
    opacity: 1;
}

#loading-header{
  position: fixed;
  top: 43%;
  left: 49%;
  margin: -14px 0 0 -42px;
  padding: 10px;
  color: black;
  z-index: 6;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -14px 0 0 -42px;
    padding: 10px;
    background: rgba(20, 20, 20, 0.9);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 0 0 5px #000, 0 1px 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 5px #000, 0 1px 1px rgba(255, 255, 255, 0.1);
    -ms-box-shadow: inset 0 0 5px #000, 0 1px 1px rgba(255, 255, 255, 0.1);
    -o-box-shadow: inset 0 0 5px #000, 0 1px 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 5px #000, 0 1px 1px rgba(255, 255, 255, 0.1);
}

.loading-dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: white;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    opacity: 0;

    -webkit-box-shadow: 0 0 2px black;
    -moz-box-shadow: 0 0 2px black;
    -ms-box-shadow: 0 0 2px black;
    -o-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;

    -webkit-animation: loadingFade 1s infinite;
    -moz-animation: loadingFade 1s infinite;
    animation: loadingFade 1s infinite;
}

.loading-dot:nth-child(1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}

.loading-dot:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading-dot:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loading-dot:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes loadingFade {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100% { opacity: 0; }
}

@-moz-keyframes loadingFade {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100% { opacity: 0; }
}

@keyframes loadingFade {
    0% { opacity: 0; }
    50% { opacity: 0.8; }
    100% { opacity: 0; }
}
