/*
 * As you may have guessed, a little custom css is part of our project.
 */

body {
  padding-top: 5rem;
}

.container {
  max-width: 1440px; /* Override bootstrap maximum width */
}

.content-box {
  padding: 1rem 0.5rem;
  text-align: center;
}

/* This container will allow scaling svg, so we don't need to care about it in d3.js */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0; /* not 10px, but 0 instead */
  left: 0;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.line-context {
  fill: none;
  stroke-width: 0.8px;
}

#courseSelection li.hover { background-color: rgba(0, 123, 255, 0.3); }
#courseSelection li.selected { border-color: #007bff; }

.frame { width: 100%; height: 185px; padding: 4px; border: 1px solid rgba(0,0,0,.125); border-radius: calc(.25rem - 1px); background-color: rgba(0,0,0,.03); }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 5px 0 0; padding: 0; width: 150px; height: 100%; border: 1px solid rgba(0,0,0,.125); background-color: white; text-align: center; }

.scrollbar {
    width: 100%;
    height: 16px;
    margin-top: 4px;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
}
.scrollbar .handle {
	width: 100px; /* overriden if dynamicHandle: 1 */
	height: 100%;
	background: #868e96;
}

.scrollbar .handle:hover { background-color: rgba(0, 123, 255, 1); }

.coursename {
    font-size: 8pt;
    font-weight: bold;
}

.courseimagecontainer {
    height: 75%;
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courseimage {
    margin-left: auto;
    margin-right: auto;
}

.card-body{
  padding-top: 0.75rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

#toggle-btn{
  text-align: center;
}

#icon-up-arrow{
  width: 1%;
  height: 1%;
}
